

.bgsvg{
    background-image: url(Background1.svg); 
    background-size: cover; 
    background-repeat:no-repeat;
    background-attachment: fixed; 
}
.row{
    --bs-gutter-x: 0;
    width: 100%;
    max-width: 100%;
}

.logo{
    width: 150px;
}
.txt{
    font-size: 2em;
}